  <!--Login-register-front-page-->
  <div class="py-5 loginContainer" [hidden]="IsNotHidden">
    <div class="container">
      <div class="card-group">
        <div class="card text-dark cardPadding cards">
          <div class="card-body">
            <h1 class="mb-4">Login</h1>

            <form [formGroup]="loginForm">
              <div class="form-group">
                <label>Username</label>
                <input type="email" formControlName="username" class="form-control" placeholder="Enter Username">
                     <div *ngIf="loginForm.get('username').touched && loginForm.get('username').invalid" class="alert-msg">
              <div *ngIf="loginForm.get('username').hasError('required')">
                Username is required!
              </div>
              <div *ngIf="loginForm.get('username').hasError('email') && !loginForm.get('username').hasError('required')">
                Username Invalid!
              </div>
              </div>
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password" formControlName="password" class="form-control" placeholder="Enter Password">
                 <div *ngIf="loginForm.get('password').touched && loginForm.get('password').invalid" class="alert-msg">
              <div *ngIf="loginForm.get('password').hasError('required')">
               Password is required!
              </div>
            </div>
              </div>
              <div class="form-group">
                <a class="text-pride" routerLink="/forgot-password">Forgot Password</a>
              </div>
              <button type="button" class="btn btn-secondary" [disabled]="loginForm.invalid" (click)="login()">Login</button>
            </form>
          </div>
        </div>
        <div class="card text-white cardPadding cards bg-pride">
          <div class="card-body">
            <h1 class="mb-4">Register</h1>
                       <form [formGroup]="registerForm">
              <div class="form-group">
                <label>Username</label>
                <input  type="email" formControlName="username" class="form-control" placeholder="Enter email">
                 <div  class="alert-msg" *ngIf="registerForm.get('username').touched && isAlredyExist"> Already present! </div>
                <div *ngIf="registerForm.get('username').touched && registerForm.get('username').invalid" class="alert-msg">
              <div *ngIf="registerForm.get('username').hasError('required')" class="text-white">
                Username is required!
              </div>
              <div *ngIf="registerForm.get('username').hasError('email') && !registerForm.get('username').hasError('required')" class="text-white">
                Username Invalid!
              </div>
              </div>
            </div>
                  <div class="form-group">
                <label>Password</label>
                <input type="password" formControlName="password" class="form-control" placeholder="Password">
                <div *ngIf="registerForm.get('password').touched && registerForm.get('password').invalid" class="alert-msg">

              <div *ngIf="registerForm.get('password').hasError('maxlength') && ! registerForm.get('password').hasError('pattern')" class="text-white">
               More than 20 digits
              </div>
              <div *ngIf="registerForm.get('password').hasError('required')" class="text-white">
               Password is required!
              </div>
              <div *ngIf="registerForm.get('password').hasError('pattern')" class="text-white">
               Password Invalid (Atleast one lowercase, uppercase, specialcharacter, digit, minLength 8) !
              </div>
            </div>

   <div *ngIf="registerForm.get('password').touched && registerForm.get('password').errors">

         <div class="alert-msg" *ngIf="registerForm.get('password').errors.notEquivalent">The new password and confirm password do not match
         </div>
       </div>
              </div>
           <div class="form-group">
                <label>Re-enter Password</label>
                <input type="password" formControlName="rePassword" class="form-control" placeholder="Password">
                           <div *ngIf="registerForm.get('rePassword').touched && registerForm.get('rePassword').errors" class="alert-msg" >
         <div *ngIf="registerForm.get('rePassword').errors.required" class="text-white" >
           Confirm password is required
         </div>
         <div *ngIf="registerForm.get('rePassword').errors.notEquivalent" class="text-white" >The new password and confirm password do not match
         </div>
       </div>

                 </div>
              <div class="form-group">
                <input type="checkbox" name="isVendor" [routerLink]="['/','vendor-register']" [disabled]="registerForm.invalid">Register as Vendor
              </div>
              <button type="submit" class="btn btn-secondary" [disabled]="registerForm.invalid" (click)="registerUser()">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
