<div class="container mt-5" *ngIf="offers">
  <div class="row">
    <div class="col-4 card-group mb-3" *ngFor="let offer of offers">
      {{productPrice(offer.originalPrice,offer.discount)}}
      <div class="card">
        <span [routerLink]="['/', 'product',offer.userId,offer.offerId]">
          <div class="card-img">
            <img class="card-img-top" src="../../../../assets/opentable-scenic-restaurants.jpg" alt="Card image cap">
            <div class="card-rating bg-white border-bottom px-2 py-1">
              Rating <span>|</span> {{offer.offerRating}}
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title text-heading">{{offer.offerTitle}}</h5>
            <p class="card-text text-lead ">
              <span class="border border-danger rounded px-2 py-1 mb-3">{{offer.discount}}% off</span>
              <br/>
              <span class="offer-deleted-price">MRP:<del>₹{{offer.originalPrice}}</del></span>
              <span>₹{{priceAfterDiscount}}</span>
            </p>
            <p class="card-text "><small class="text-muted">Last updated 45 mins ago</small></p>
          </div>
        </span>
      </div>
    </div>
  </div>
</div>