<div class="bg-white">
  <span id="_location"> 
   <!-- <span class="glyphicon glyphicon-map-marker"></span>  -->
   Select Location :I am in: {{obj.a}}
 </span>
 <button  id="_location1"type="button"  data-toggle="modal" data-target="#Modal">Change City</button>
 <!-- Modal -->
 <div class="modal fade" id="Modal" role="dialog">
  <div class="modal-dialog">
   <!-- Modal content-->
   <div class="modal-content">
    <div class="modal-header">
      <!--           <button type="button" class="close" data-dismiss="modal">&times;</button>-->
      <h4 class="modal-title">Change your City</h4>
    </div>
    <!--         this is for body for dropdown to select city-->
    <div class="modal-body">
      <select [(ngModel)]="selected">
       <option *ngFor=" let city of cities" value={{city}}>{{city}}</option>
     </select>
   </div>
   <p>{{selected}}</p>
   <div class="modal-footer">
    <span>
      <button type="button" class="btn btn-default " data-dismiss="modal">Skip</button>         <button type="button" class="btn btn-default " data-dismiss="modal" (click)="fav(selected)">Continue</button>
    </span>
  </div>

</div>
</div>

</div>

</div>
